<%- include("partials/user-home-header"); -%>

<section id="user-home">
  <div class="fluid-container user-home-container">

      <div class="col-10 user-home-container-right">
        <section id="">
          <div class="carousel slide carousel-fade " data-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 user-home-carousel" src="images/user-cat.png" alt="First slide">
              </div>
            </div>
          </div>
        </section>
        <section class=" search-sec-user shadow">
            <div class="container">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Search by events, groups etc">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Location">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="button" class="btn btn-info wrn-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section id="user-categories">
            <div class="row">
              <%  for(let i = 0; i < categoriesImg.length; i++){ %>
              <div class="col-lg-3 col-md-6 categories-grid ">
                <a href="/user-categories/:<%=categoriesTitle[i]%>" >
                  <div class="card categories-div">
                    <img class="card-img shadow-sm" src="images/<%=categoriesImg[i]%>.png" + alt="Card image">
                    <div class="card-img-overlay categories-img-text-div">
                      <h5 class="categories-card-img-text"><%=categoriesTitle[i]%></h5>
                    </div>
                  </div>
                </a>
              </div>
              <%    } %>

            </div>
        </section>
        <%- include("partials/footer"); -%>
      </div>
      <div class="col-2 sticky-sidebar">
        <a href="/user-home" type="button" class="user-home-left-btn btn btn-light btn-block">Upcoming Events</a>
        <a href="/user-categories" type="button" class="user-home-left-btn user-home-left-btn-active btn btn-light btn-block">Categories</a>
        <a href="/user-liked-events" type="button" class="user-home-left-btn btn btn-light btn-block">Liked Events</a>
        <a href="/user-joined-group" type="button" class="user-home-left-btn btn btn-light btn-block">Joined Group</a>
        <a href="/user-joined-events" type="button" class="user-home-left-btn btn btn-light btn-block">Joined Events</a>
        <a href="#" type="button" class="user-home-left-btn btn btn-light btn-block">Your Group</a>
      </div>
    </div>
</section>

<!-- for CountDown -->
<script type="text/javascript">
  let countDate = new Date('Aug 1, 2020 08:00:00').getTime();

  function eventDay() {
    let now = new Date().getTime();
    gap = countDate - now;

    let second = 1000;
    let minute = second * 60;
    let hour = minute * 60;
    let day = hour * 24;

    let d = Math.floor(gap / (day));
    let h = Math.floor((gap % (day)) / (hour));
    let m = Math.floor((gap % (hour)) / (minute));
    let s = Math.floor((gap % (minute)) / (second));

    document.getElementById('day').innerText = d;
    document.getElementById('hour').innerText = h;
    document.getElementById('minute').innerText = m;
    document.getElementById('second').innerText = s;
  }
  setInterval(function() {
    eventDay();
  }, 1000)
</script>
