<%- include("partials/user-home-header"); -%>

<section id="user-home">
  <div class="fluid-container user-home-container">

      <div class="col-10 user-home-container-right">
        <section id="">
          <div class="carousel slide carousel-fade " data-ride="false">
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <img class="d-block w-100 user-home-carousel" src="images/sailing-user.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block event-over-img-text">
                  <h5 class="event-page-event-time-heading">1 August at 08:00 - 13:00</h5>
                  <h1 class="event-page-heading">SAILING PRACTICE</h1>
                  <div class="event-countdown">
                    <div><span id="day"></span><span>Days</span></div>
                    <div><span id="hour"></span><span>Hours</span></div>
                    <div><span id="minute"></span><span>Minutes</span></div>
                    <div><span id="second"></span><span>Seconds</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class=" search-sec-user shadow">
            <div class="container">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Search by events, groups etc">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Location">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="button" class="btn btn-info wrn-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section id="" class="">
          <div class="fluid-container event-nearby-container">
            <h1 class="home-subheading event-container-heading">Nearby Events</h1>
            <div class="regular event-slick">
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event1.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event2.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>

              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event3.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event4.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event1.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>

            </div>


            <h1 class="home-subheading event-container-heading">Online Events</h1>
            <div class="regular event-slick">
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event1.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event2.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>

              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event3.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event4.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event1.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>

            </div>



            <h1 class="home-subheading event-container-heading">Career</h1>
            <div class="regular event-slick">
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event1.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event2.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>

              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event3.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event4.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>
              <div class="event-card-div">
                <div class="card shadow nearby-card">
                  <img src="images/event1.jpg" class="card-img-top" alt="Photo by fauxels from Pexels">
                  <div class="card-body nearby-card-body">
                    <div class="card-text">
                      <p class="event-date-time">Mon, Jun 1, 2020 7:30 PM IST</p>
                      <h6 class="card-event-heading">Get Your VIRTUAL Teach On</h6>
                    </div>
                    <%- include("partials/reactionBar"); -%>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <%- include("partials/footer"); -%>
      </div>
      <div class="col-2 sticky-sidebar">
        <a href="" type="button" class="user-home-left-btn user-home-left-btn-active btn btn-light btn-block">Upcoming Events</a>
        <a href="" type="button" class="user-home-left-btn user-home-left-btn btn btn-light btn-block">Categories</a>
        <a href="" type="button" class="user-home-left-btn btn btn-light btn-block">Liked Events</a>
        <a href="" type="button" class="user-home-left-btn btn btn-light btn-block">Joined Group</a>
        <a href="" type="button" class="user-home-left-btn btn btn-light btn-block">Joined Events</a>
        <a href="" type="button" class="user-home-left-btn btn btn-light btn-block">Your Group</a>
      </div>
    </div>
</section>

<!-- for CountDown -->
<script type="text/javascript">
  let countDate = new Date('Aug 1, 2020 08:00:00').getTime();

  function eventDay() {
    let now = new Date().getTime();
    gap = countDate - now;

    let second = 1000;
    let minute = second * 60;
    let hour = minute * 60;
    let day = hour * 24;

    let d = Math.floor(gap / (day));
    let h = Math.floor((gap % (day)) / (hour));
    let m = Math.floor((gap % (hour)) / (minute));
    let s = Math.floor((gap % (minute)) / (second));

    document.getElementById('day').innerText = d;
    document.getElementById('hour').innerText = h;
    document.getElementById('minute').innerText = m;
    document.getElementById('second').innerText = s;
  }
  setInterval(function() {
    eventDay();
  }, 1000)
</script>
